.screen {
  width: 100%;
  background: #ccc;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  gap: 12px;
  justify-content: center;
}

button {
  width: 60px;
  height: 60px;
  background: #4CAF50;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

button.ocupado {
  background: #d9534f;
}

button:hover:not(.ocupado) {
  background: #45a049;
}
