<div class="principal">
    <h2>Login</h2>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form-user">

        <label>Email:</label>
        <input
            type="email"
            name="email"
            placeholder="Digite seu e-mail"
            [(ngModel)]="login.email"
            required
        />

        <label>Senha:</label>
        <input
            type="password"
            name="password"
            placeholder="Digite sua senha"
            [(ngModel)]="login.password"
            required
        />

        <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>

</div>