body{
  background-color: #121214;
  width: auto;
  height: max-content;
}

.principal {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 60px;
  background: #2d3250;
  color: #ffffff;
  border-radius: 2px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-user{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

input{
  padding: 16px;
  background-color: #424769;
  border-width: 0;
  border-style: none;
  color: #ffffff;
}

button{
    background-color: #f8b179;
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    padding: 5px;
    outline: none;
    border-style: solid;
    margin-top: 12px;
}

.side-image {
    width: 250px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}