<div class="principal">
    <h2>Registrar Usuario</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-user">
        <label>Nome:</label>
        <input type="text" name="name" placeholder="Seu nome completo" [(ngModel)]="user.name" required />

        <label>Email:</label>
        <input type="email" name="email" placeholder="Seu e-mail" [(ngModel)]="user.email" required />

        <label>Senha:</label>
        <input type="password" name="password" placeholder="Deve ter no mínimo sete caracteres" [(ngModel)]="user.password" required />

        <button type="submit" [disabled]="userForm.invalid">Salvar</button>
    </form>
</div>